body {
  font-family: 'Oleo Script', cursive;
  background-size: 1300px 600px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
    background-size: 1300px 600px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.page-header h1 {
    font-family: 'Oleo Script', cursive;
    text-align: center;
}

#frm {
  height: 270px;
  margin-top: 100px;
  text-align: center;
}


#display #directions  {
  float: left;
  text-align: center;
}

#display #details{
  float: right;
  text-align: center;
}

h3 {
  text-decoration: underline;
}
