body {
	background-color: #17A2B8;
  font-family: 'Lobster';
  align-items: center;
  text-align: center;

}

.page-header {
    background-color: #9932CC;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 {
    color: #ffffff;
    font-family: 'Lobster';
    text-align: center;
}

#frm {
  height: 270px;
  margin-top: 100px;
}

.footer h5 {
	position:relative;
	bottom: -60px;
	
}
