{% load static %}
<html>
	<head>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/mq.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Directions Retrieval</title>
    </head>
	<body>
		<div class= "page-header"><h1>Welcome to Directions Retrieval!</h1></div>
		<div class = "info">
			<div class = "container">
				<div id="info-row" class="row justify-content-center align-items-center">
					<div id="info-column" class="col-md-6">
						<div id="info-box" class="col-md-12">
							<h2>Please enter the start and end locations.</h2>
							<form action="/your-name/" method="post">
							    {% csrf_token %}
							    <div class="text-center form-group">
							   		{{ form.as_p }}
							   	</div>
							    <div class="text center form-group">
							    	<input type="submit" value="Submit">
							    </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "footer">
			<h5>All directions retrieved from MapQuest.</h5>
		</div>
	</body>
</html>